<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<style>
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
        background-color:#fff;
    }
    table#t01 th {
        background-color: black;
        color: white;
    }
    table#t01 td {
        text-align: center;
    }
</style>
<body>
<h1>WMP 자동 등록 리스트</h1>
<h3>월요일~금요일 오후 5시 30분  자동등록 처리됨</h3>
    <form action="#" th:action="@{/addWork}" method="post">
        <input type="text" name="name" placeholder="WMP 로그인 아이디"/>
        <input type="password" name="password" placeholder="WMP 로그인 비밀번호"/>
        <input type="text" name="code" placeholder="프로젝트 코드"/>
        <input type="text" name="secondCode" placeholder="수행 프로젝트 코드"/>
        <input type="text" name="workItem" placeholder="내용"/>
        <input type="submit" value="등록하기"/>
    </form>
<h2></h2>
    <table style="width:100%" id="t01">
        <tr>
            <th>No.</th>
            <th>아이디</th>
            <th>프로젝트 코드</th>
            <th>수행 프로젝트</th>
            <th>작업내용</th>
            <th>삭제</th>
        </tr>
        <th:block th:each="work : ${workList}">
            <tr>
                <td th:text="${work.id}">...</td>
                <td th:text="${work.name}">...</td>
                <td th:text="${work.code}">...</td>
                <td th:text="${work.secondCode}">...</td>
                <td th:text="${work.workItem}">...</td>
                <td>
                    <form action="#" th:action="@{/deleteWork}" method="get">
                        <input type="hidden" name="id" value="" th:value="${work.id}"/>
                        <input type="submit" value="삭제"/>
                    </form>
                </td>
            </tr>
        </th:block>

    </table>
</body>
</html>